<section>

  <article>
    <h3>Retorno com interpolação:</h3>
    <div>
      <ul>
      <li>
        Retorno do método "getValue()": {{ getValue() }}
      </li>
      <li>
        Retorno de uma operação "2+2": {{ 2+2 }}
      </li>
      <li>
        Foto do narutinho: <br><img src="{{ urlImage }}" alt="" width="150" height="150">
      </li>
      </ul>
    </div>
  </article>

  <article>
    <h3>Caixas de seleção com bootstrap e Propertie Bind.</h3>    
    <div>     
      Escolha uma das opções
      <select #classe (change)="0">

          <option value="alert-success">Sucesso</option>
          <option value="alert-light"  >Luz</option>    
          <option value="alert-info"   >Alerta</option>
          <option value="alert-warning">Atencion</option>
          <option value="alert-danger" >Prerigo</option>

      </select>   

    <div class="alert alert-success" role="alert" [style.display]="classe.value == 'alert-success'  ? 'block' : 'none'">
    Sucesso
    </div>

    <div class="alert alert-light" role="alert" [style.display]="classe.value == 'alert-light' ? 'block' : 'none'">
      Light      
    </div>
      
    <div class="alert alert-info" role="alert" [style.display]="classe.value == 'alert-info' ? 'block' : 'none'">
        Alert 
    </div>

    <div class="alert alert-warning" role="alert" [style.display]="classe.value == 'alert-warning' ? 'block' : 'none'">
          Warning
    </div>

    <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
          Danger
    </div>
  </div>    
  </article>

  <article>
    <h3>Event bind</h3>
    <div>      
      <input type="text" 
        (keyup)="getDigitado($event)" 
        (keyup.enter)="salvarValor(campoIntput.value)" #campoIntput/>
        

      <button (click)="salvarValor(campoIntput.value)" class="btn btn-primary"
              (mouseover)="onMouseOverOut()"
              (mouseout)="onMouseOverOut()"
              [class.highlight]="isMouseOver">Submit</button>
      <p>Valor digitado: {{digitado}}</p>
      <p>Valor salvo: {{valorSalvo}}</p>
    </div>
  </article>
  <article>
    <div>
      <h3>Tow-way-dada-bind</h3>

      Com target.value<br>
      <input type="text" 
      [value]="pessoa.nome"
      (input)="pessoa.nome = $event.target.value"/>
      <br>
      
      <p>Com ngModel sem target.value<br>
      <input type="text" 
      [ngModel]="pessoa.nome"
      (ngModel)="pessoa.nome = $event" />
      </p>

      <p>Melhor jeito com [(ngModel)]="binding"<br>

      <input type="text" [(ngModel)]="pessoa.nome">
      <input type="text" [(ngModel)]="pessoa.sobrenome">      
      <p>Olá, eu sou {{pessoa.nome}} {{pessoa.sobrenome}} e seja bem vindo ao meu site!</p>

      <h3>Input Property Component</h3>
      <app-input-property [nome]='nomeCurso'></app-input-property>

      <h3>Output Propertu Component - Contador Simples</h3>
      <contador [valor]="10"
      

    </div>
  </article>
</section>
